<!doctype html>

<html lang='es'>
<head>
    <title>Bookish</title>
</head>

<body>

<h1>Bookish</h1>

<form action="/" method="post">
    <input type="text" name="isbn">

    <input type="submit" value="Search">
</form>

{% if result is defined %}
<div class="result">
    <p class="title">Title: {{ result.title }}</p>
    <p class="author">Author: {{ result.author }}</p>
    <p class="date">Published: {{ result.date }}</p>

    <img class="cover" src="{{ result.cover }}" />
</div>
{% endif %}

</body>
</html>
